# use glob syntax.
syntax: glob

# Temporary Build Artifacts
bin/
**/bin
**/obj
**/Debug
TestResults/
Build/nuget/**/*.nupkg
Build/nuget/**/lib/*
Build/nuget/**/src/*
dotNetRDF*.zip
_UpgradeReport*
UpgradeLog*
log-file.txt
Backup/
Tools/
nugets/
coverage
test-*.xml
dotcover.xml

# Files not to version control
*.suo
*.temp
*.user
temp*.txt
found*.txt
_ReSharper*/
*.lnk
*.PublicKey
Build/ToolkitInstaller/*.wxs
*.lock.json

# NuGet Package Management Stuff
.nuget/*.exe
packages/

# Developer/Environment specific config files
Testing/unittest/resources/UnitTestConfig.properties

# Visual Studio config
.vs/

# Sandcastle Help File Builder Output Directory
Build/shfb/Help/