*.cs text
*.csproj text
Testing/dotNetRdf.Tests/resources/turtle/*   -text
Testing/dotNetRdf.Tests/resources/turtle11/*   -text
Testing/dotNetRdf.Tests/resources/turtle11-unofficial/*   -text
Testing/dotNetRdf.Tests/resources/trig11/* -text
Testing/dotNetRdf.TestSuite.Rdfa/resources/** -text
Testing/dotNetRdf.TestSuite.RdfCanon/resources/rdfc10/* -text