<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdfEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="rdfEditor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdfEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="rdfEditor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rdfEditor.Properties.Settings>
            <setting name="EnableHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableValidateAsYouType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysCheckFileAssociations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableClickableUris" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableErrorHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultHighlighter" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowEndOfLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="EditorForeground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="EditorBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="EnableSymbolSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSymbolBoundaries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SymbolSelectionMode" serializeAs="String">
                <value>Default</value>
            </setting>
        </rdfEditor.Properties.Settings>
        <rdfEditor.Settings1>
            <setting name="EnableHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableValidateAsYouType" serializeAs="String">
                <value>True</value>
            </setting>
        </rdfEditor.Settings1>
    </userSettings>
    <applicationSettings>
        <rdfEditor.Properties.Settings>
            <setting name="UseCustomisedXshdFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </rdfEditor.Properties.Settings>
        <rdfEditor.Settings1>
            <setting name="UseCustomisedXshdFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </rdfEditor.Settings1>
    </applicationSettings>
</configuration>