<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdfEditor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdfEditor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rdfEditor.Settings1>
            <setting name="EnableHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableValidateAsYouType" serializeAs="String">
                <value>True</value>
            </setting>
        </rdfEditor.Settings1>
    </userSettings>
    <applicationSettings>
        <rdfEditor.Settings1>
            <setting name="UseCustomisedXshdFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </rdfEditor.Settings1>
    </applicationSettings>
</configuration>