# This is the template for Configuration Data for Unit Tests
# The format is simply Key=Value in the Java properties style

# Configuration Notes
# ===================
#
# Each section typically has a boolean value which states whether the feature to be
# tested is available in the users environment.  If this is set to false tests
# relating to this feature will be marked as Inconclusive since they cannot be run
#
# The section then contains one/more properties that should be set to configure the
# necessary information required to test that feature

# Remote SPARQL Query
Sparql.Remote=true
Sparql.Remote.Query=http://dbpedia.org/sparql

# Local IIS and ASP.Net tests
Web.IIS=true
Web.Query=http://localhost/demos/leviathan/
Web.SparqlServer=http://localhost/demos/server/
Web.SparqlServer.Query=http://localhost/demos/server/query
Web.SparqlServer.Update=http://localhost/demos/server/update

# An AllegroGraph install to use for testing
Storage.AllegroGraph=false
Storage.AllegroGraph.Server=http://localhost:9875
Storage.AllegroGraph.Catalog=test
Storage.AllegroGraph.Repository=unit-test

# A Dydra account to use for testing
Storage.Dyrda=false
Storage.Dydra.Account=rvesse
Storage.Dydra.Repository=test
Storage.Dydra.ApiKey=

# A 4store install to use for testing
Storage.FourStore=false
Storage.FourStore.Server=http://localhost:8080

# A Fuseki install to use for testing
Storage.Fuseki=false
Storage.Fuseki.Server=http://localhost:3030/dataset/data

# A Joseki install to use for testing
Storage.Joseki.Server=

# A Sesame install to use for testing
Storage.Sesame=false
Storage.Sesame.Server=http://localhost:8080/openrdf-sesame/
Storage.Sesame.Repository=unit-test

# A Stardog install to use for testing
Storage.Stardog=
Storage.Stardog.Server=http://localhost:5822
Storage.Stardog.DB=test
Storage.Stardog.User=admin
Storage.Stardog.Password=admin

# A Virtuoso install to use for testing
Storage.Virtuoso=false
Storage.Virtuoso.Server=localhost
Storage.Virtuoso.Port=1111
Storage.Virtuoso.DB=DB
Storage.Virtuoso.User=dba
Storage.Virtuoso.Password=dba