<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="RdfSerialisationTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<applicationSettings>
		<UnitTests.Properties.Settings>
   <setting name="tasksOntologyName" serializeAs="String">
    <value>tasks.n3</value>
   </setting>
   <setting name="tasksDataName" serializeAs="String">
    <value>task-data.n3</value>
   </setting>
   <setting name="testStoreLocation" serializeAs="String">
    <value>../../store3.n3</value>
   </setting>
   <setting name="taskStorePath" serializeAs="String">
    <value>../../../standard-test-data/</value>
   </setting>
   <setting name="testSparqlEndpoint" serializeAs="String">
    <value>http://localhost/linqtordf/sparql</value>
   </setting>
  </UnitTests.Properties.Settings>
		<RdfSerialisationTest.Properties.Settings>
			<setting name="testStoreLocation" serializeAs="String">
				<value>store3.n3</value>
			</setting>
			<setting name="taskStorePath" serializeAs="String">
				<value>\\localhost\linqtordf\src\website\testdata</value>
			</setting>
			<setting name="tasksOntologyName" serializeAs="String">
				<value>tasks.n3</value>
			</setting>
			<setting name="tasksDataName" serializeAs="String">
				<value>task-data.n3</value>
			</setting>
		</RdfSerialisationTest.Properties.Settings>
	</applicationSettings>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<log4net>
		<!-- Define some output appenders -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="rolling-log.txt" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]&#xD;&#xA;" />
				<footer value="[Footer]&#xD;&#xA;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="log-file-unittests.txt" />
			<!-- Example using environment variables in params -->
			<!-- <file value="${TMP}\log-file.txt" /> -->
			<appendToFile value="true" />
			<!-- An alternate output encoding can be specified -->
			<!-- <param name="Encoding" value="unicodeFFFE" /> -->
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]&#xD;&#xA;" />
				<footer value="[Footer]&#xD;&#xA;" />
				<conversionPattern value="%date %message%newline" />
				<!--conversionPattern value="%C %date{ISO8601} %username [%t] %p - %m%n" /-->
			</layout>
			<!-- Alternate layout using XML
            <layout type="log4net.Layout.XMLLayout" /> 
            -->
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
			</layout>
		</appender>
		<appender name="OutputDebugStringAppender" type="log4net.Appender.TraceAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level [%t]: %message%newline" />
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default level -->
		<!-- Everything else -->
		<root>
			<level value="WARN" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<!-- ObjectDeserialiserQuerySink --><logger name="VDS.RDF.Linq.ObjectDeserialiserQuerySink">
			<level value="INFO"/>
		</logger>
	</log4net>
</configuration>