<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net40+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="VDS.Common" version="1.5.0" targetFramework="portable-net40+sl50+win+wpa81+wp80" />
</packages>