<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dotNetRDFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dotNetRDFTest.Properties.Settings>
            <setting name="TestString" serializeAs="String">
                <value>Test String</value>
            </setting>
            <setting name="TestTrue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestFalse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestInt32" serializeAs="String">
                <value>12345</value>
            </setting>
        </dotNetRDFTest.Properties.Settings>
    </applicationSettings>
</configuration>