<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VDS.RDF.Utilities.Editor.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VDS.RDF.Utilities.Editor.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VDS.RDF.Utilities.Editor.Wpf.Properties.Settings>
            <setting name="EnableHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableValidateAsYouType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysCheckFileAssociations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableClickableUris" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableErrorHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultHighlighter" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowEndOfLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="EditorForeground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="EditorBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="EnableSymbolSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSymbolBoundaries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SymbolSelectionMode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="UseUtf8Bom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyntaxColourXmlComments" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="SyntaxColourXmlCData" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="SyntaxColourXmlDocType" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="SyntaxColourXmlTag" serializeAs="String">
                <value>#FF8B008B</value>
            </setting>
            <setting name="SyntaxColourXmlAttrName" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="SyntaxColourXmlAttrValue" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="SyntaxColourXmlEntity" serializeAs="String">
                <value>#FF008080</value>
            </setting>
            <setting name="SyntaxColourXmlBrokenEntity" serializeAs="String">
                <value>#FF808000</value>
            </setting>
            <setting name="SyntaxColourComment" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="SyntaxColourKeyword" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="SyntaxColourString" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="SyntaxColourQName" serializeAs="String">
                <value>#FF8B008B</value>
            </setting>
            <setting name="SyntaxColourURI" serializeAs="String">
                <value>#FF8B008B</value>
            </setting>
            <setting name="SyntaxColourPunctuation" serializeAs="String">
                <value>#FF006400</value>
            </setting>
            <setting name="SyntaxColourBNode" serializeAs="String">
                <value>#FF4682B4</value>
            </setting>
            <setting name="SyntaxColourLangSpec" serializeAs="String">
                <value>#FF006400</value>
            </setting>
            <setting name="SyntaxColourNumbers" serializeAs="String">
                <value>#FF00008B</value>
            </setting>
            <setting name="SyntaxColourVariables" serializeAs="String">
                <value>#FFFF8C00</value>
            </setting>
            <setting name="SyntaxColourEscapedChar" serializeAs="String">
                <value>#FF008080</value>
            </setting>
            <setting name="ErrorHighlightBackground" serializeAs="String">
                <value>#FF8B0000</value>
            </setting>
            <setting name="ErrorHighlightForeground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ErrorHighlightDecoration" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveWithOptionsPrompt" serializeAs="String">
                <value>False</value>
            </setting>
        </VDS.RDF.Utilities.Editor.Wpf.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VDS.RDF.Utilities.Editor.Wpf.Properties.Settings>
            <setting name="UseCustomisedXshdFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </VDS.RDF.Utilities.Editor.Wpf.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
