body, p, div
{
	font-family: "Verdana";
	font-size: 10pt;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Verdana";
}

TABLE 
{
	background: #eeeeee;
}

TR
{
	vertical-align: top;
}


TD 
{
	background: #ffffff;
	padding: 3px;
}

TH 
{
	background: #cccccc;
	padding: 2px;
}

A 
{
	color: #666666;
}

A.datatype 
{
	font-size: smaller;
	vertical-align: super;
}

H3 
{
	background: #cccccc;
	padding: 5px;
	font-weight: normal;
}

.box, pre
{
	border: thin solid #000000;
	background: #cccccc;
	padding: 5px;
	margin-bottom: 5px;
	text-align: left;
	vertical-align: top;
}