<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VDS.RDF.Utilities.Sparql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SparqlGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VDS.RDF.Utilities.Sparql.Properties.Settings>
            <setting name="UseUtf8Bom" serializeAs="String">
                <value>False</value>
            </setting>
        </VDS.RDF.Utilities.Sparql.Properties.Settings>
        <SparqlGUI.Properties.Settings>
            <setting name="UseUtf8Bom" serializeAs="String">
                <value>True</value>
            </setting>
        </SparqlGUI.Properties.Settings>
    </userSettings>
</configuration>