<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VDS.RDF.Utilities.StoreManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VDS.RDF.Utilities.StoreManager.Properties.Settings>
            <setting name="UseUtf8Bom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysEdit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRecentConnections" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="RestoreActiveConnections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromptRestoreActiveConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysRestoreActiveConnections" serializeAs="String">
                <value>False</value>
            </setting>
        </VDS.RDF.Utilities.StoreManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
